/* Icon box */
.icon-box {
  width: 80px;
  height: 80px;
}

.icon-box-text-white img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.icon-box-primary {
  background-color: var(--bs-primary-color);
}

.icon-box-secondary {
  background-color: var(--bs-secondary-color);
}

.icon-box-tertiary {
  background-color: var(--bs-tertiary-color);
}